
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}
<link href="~/css/Confirmation.css" rel="stylesheet" />
<div class="container">
    <center>
        <div class="backContainer row align-items-center">
            <div class="col">
                <div class="text-center">
                    <i class="bi bi-check-circle-fill" style="font-size: 4rem; color: green;"></i>
                </div>
                <h3>
                    If you have an account with us, we have sent an email
                    with the instructions to reset your password.
                </h3>
            </div>
        </div>
    </center>
</div>
