@model ForgotPasswordViewModel

    <span class="text-success">@ViewBag.Message</span>
<form asp-action="ForgotPassword" method="post">
    <label asp-for="Email"></label>:
    <input type="email" asp-for="Email"/>
    <button type="submit" value="Submit" class="btn btn-primary"></button>
</form>