@model LoginInfor
<link href="~/css/Login.css" rel="stylesheet" />

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
<style>
    label.error {
        color: red;
    }
    .form-control {
        width: 95%;
    }
</style>
<script>
    $().ready(function () {
        $("#Form").validate({
            rules: {
                "email": {
                    required: true,
                    email: true,
                },

                "password": {
                    required: true,
                    maxlength: 32
                },
            },
            messages: {
                "email": {
                    required: "Email address is required",
                    email: "Email address is invalid"
                },
                "password": {
                    required: "Password is required",
                    maxlength: "Password is too long"
                },
            }
        });
    });
</script>

<div class="container">

    <div class="backContainer">

        <form class="form-signin" asp-method="post" asp-controller="Account" asp-action="Login" id="Form">

            <h1 class="h2 mb-3 font-weight-normal text-center">Sign in</h1>

            <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" asp-for="Email"
                       placeholder="Please enter your email">
                <small id="usernamehelp" class="form-text text-muted">We'll never require your Garena account.</small>
            </div>


            <div class="form-group">
                <input type="password" class="form-control" placeholder="Please enter your password" name="password"
                       asp-for="Password" id="id_password" >
                @*Button show/hide password*@
                <i class="bi bi-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>
             @if (ViewBag.isCorrect == false)
                    {
                        <p style="color: red">Wrong email or password</p>
                      } 


        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="RememberMe" value="true" id="RememberMe" asp-for="RememberMe">
            <label class="" for="RememberMe" style="color: white;">
                Remember me
            </label>
            <br />
            <a asp-action="ForgotPassword" asp-controller="Account" style="color: white;">Forgot Password?</a>
            @*<label for="RememberMe" style="color: white">Remember Me</label>
            <input type="checkbox" value="true" class="form-control" id="RememberMe" name="RememberMe" asp-for="RememberMe">*@
        </div>
            <button type="submit" class="btn btn-danger button "><i class="bi bi-box-arrow-in-right"></i>         Log in</button>

        </form>

    </div>


</div>

@*Javascript code too show/hide password*@
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('bi-eye');
    });
</script>