
@{
    ViewData["Title"] = "Register Success";
}
<link href="~/css/Confirmation.css" rel="stylesheet" />
<div class="container">
    <center>
        <div class="backContainer row align-items-center">
            <div class="col p-4">
                <div class="text-center">
                    <i class="bi bi-check-circle-fill my-icon" style="color: green;"></i>
                </div>
                <h3>
                    @ViewBag.Message
                </h3>
            </div>
        </div>
    </center>
</div>

