@model ResetPasswordViewModel

<link href="~/css/Login.css" rel="stylesheet" />
<div class="container">

    <div class="backContainer">

        <form class="form-signin" asp-method="post" asp-controller="Account" asp-action="ResetPassword" id="Form">

            <h1 class="h2 mb-3 font-weight-normal text-center">Reset Password</h1>
            <input asp-for="ResetCode" type="hidden" />

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your password"
                       asp-for="NewPassword" id="id_password">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                @*Button show/hide password*@
                <i class="bi bi-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your password again"
                       asp-for="ConfirmPassword" id="id_password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                @*Button show/hide password*@
                <i class="bi bi-eye-slash" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>

            <button type="submit" class="btn btn-danger button "><i class="bi bi-box-arrow-in-right"></i>Reset Password</button>

        </form>
    </div>
</div>

@*Javascript code too show/hide password*@
<script>
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
        // toggle the type attribute
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        // toggle the eye slash icon
        this.classList.toggle('bi-eye');
    });
</script>