
@model DemoValidIngame.Models.Infor

<form method="post" asp-action="Checkout" >
    In-game name: <input type="text" name="ingameName" asp-for="inGame" />
    Server : <input type="text" name="server" asp-for="server"/>
</form>
