/practice/bin/Debug/net5.0/
/practice/obj/Debug/net5.0/
Tho_Demo/Riot API/practice/bin/Debug/net5.0/*
Tho_Demo/Riot API/practice/obj/Debug/net5.0/*
*.cache
*.json
*.props
*.v2
Tho_Demo/Project/DuoLegend/.vs/DuoLegend/v16/.suo
Tho_Demo/Project/DuoLegend/GlobalConfig/MyConfig.cs
Tho_Demo/Project/DuoLegend/GlobalConfig/MyConfig.cs
