/practice/bin/Debug/net5.0/
/practice/obj/Debug/net5.0/
Tho_Demo/Riot API/practice/bin/Debug/net5.0/*
Tho_Demo/Riot API/practice/obj/Debug/net5.0/*
*.cache
*.json
*.props
*.v2
Tho_Demo/Project/DuoLegend/.vs/DuoLegend/v16/.suo
Tho_Demo/Project/DuoLegend/GlobalConfig/*
Tho_Demo/Project/DuoLegend/GlobalConfig/MyConfig.cs
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.dll
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.dll
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.exe
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.pdb
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.Views.dll
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.Views.pdb
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.csproj.FileListAbsolute.txt
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.dll
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.pdb
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.Views.dll
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.Views.pdb
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/_Layout.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Account/LoginPage.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Account/Register.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Account/RegisterSuccess.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Profile/Index.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Profile/Update.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Shared/_LayoutAfterLogin.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Shared/_LayoutBeforeLogin.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Profile/Update.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/ref/DuoLegend.dll
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Shared/_LayoutBeforeLogin.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Shared/_LayoutAfterLogin.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Profile/Index.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Home/Index.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Account/RegisterSuccess.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Account/Register.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/Account/LoginPage.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/_ViewStart.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Views/_ViewImports.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/Razor/Pages/_Layout.cshtml.g.cs
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.Views.pdb
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.Views.dll
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.pdb
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.dll
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.csproj.FileListAbsolute.txt
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.Views.dll
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.exe
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.dll
Tho_Demo/Project/DuoLegend/GlobalConfig/MyConfig.cs
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.dll
Tho_Demo/Project/DuoLegend/GlobalConfig/*
Tho_Demo/Project/DuoLegendTesting/bin/Debug/net5.0/