
Tho_Demo/Project/DuoLegend/.vs/DuoLegend/v16/.suo
Tho_Demo/Project/DuoLegend/GlobalConfig/*

Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/*

Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/DuoLegend.csproj.FileListAbsolute.txt

Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.Views.dll

Tho_Demo/Project/DuoLegendTesting/bin/Debug/net5.0/
Tho_Demo/Project/DuoLegend/.vs/DuoLegend/config/applicationhost.config
Tho_Demo/Project/DuoLegend/bin/Debug/net5.0/DuoLegend.exe

Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/apphost.exe

Tho_Demo/Project/DuoLegend/Properties/launchSettings.json
Tho_Demo/Project/DuoLegend/obj/project.nuget.cache
Tho_Demo/Project/DuoLegend/obj/project.assets.json
Tho_Demo/Project/DuoLegend/obj/DuoLegend.csproj.nuget.g.props
Tho_Demo/Project/DuoLegend/obj/Debug/net5.0/ref/DuoLegend.dll

Tho_Demo/Project/DuoLegend/obj/DuoLegend.csproj.nuget.dgspec.json

Tho_Demo/Project/DuoLegendTesting/obj/project.assets.json
Tho_Demo/Project/DuoLegendTesting/obj/project.nuget.cache
Tho_Demo/Project/DuoLegendTesting/obj/DuoLegendTesting.csproj.nuget.g.props
Tho_Demo/Project/DuoLegendTesting/obj/DuoLegendTesting.csproj.nuget.dgspec.json
Tho_Demo/Project/DuoLegendTesting/obj/Debug/net5.0/DuoLegendTesting.csprojAssemblyReference.cache
Tho_Demo/Project/DuoLegendTesting/obj/Debug/net5.0/DuoLegendTesting.assets.cache
Tho_Demo/Project/DuoLegendTesting/obj/Debug/net5.0/DuoLegendTesting.AssemblyInfoInputs.cache



*.cache
