@model User
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutAfterLogin.cshtml";
}
<link href="~/css/Update.css" rel="stylesheet">
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js" type="text/javascript"></script>
<script>
    $().ready(function () {
        $("#Form").validate({
            rules: {
                "ingameName": {
                    required: true,                   
                },

                "description": {
                    required: true,
                    maxlength: 100
                },
            },
            messages: {
                "ingameName": {
                    required: "In-game name is required",
                },
                "description": {
                    required: "Please say something to let people know about yourself",
                    maxlength: "Description is too long"
                },
            }
        });
    });
</script>
<style type="text/css">
    label.error {
        color: red;
    }
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .bg-dark {
        background-color: rgb(2, 0, 36) !important;
    }

    .navbar-brand {
        font-weight: bold;
    }


    header {
        margin-bottom: 2 rem;
    }

    label {
        text-align: left;
        display: inherit;
        color: white;
    }

    .form-signin {
        max-width: 90%;
    }

    .backContainer {
        width: 60%;
    }
</style>

<center>
    <div class="backContainer">
        <form class="form-signin" asp-method="post" asp-controller="Profile" asp-action="UpdateUser" id="Form">
            <h1>Edit Your Profile</h1>

            @*Input new Ingame Name*@
            <div class="form-group">
                <label>Ingame name: </label>
                <input type="text" class="form-control" id="ingameName"
                       name="ingameName" placeholder="Please enter your new ingame name" asp-for="InGameName" value="@Model.InGameName">
            </div>

            @* check if the new ingameName is valid*@
            @if (ViewBag.isRealInGameNameUpdate == false)
            {
                <p style="color: red">In-game name is not valid!!!</p>
            }
            else if (ViewBag.isCorrect == false)
            {
                <p style="color: red">There was an error</p>
            }

            @*Input new Server*@
            <div class="form-group">
                <label>Server</label>
                <select asp-for="Server" class="custom-select" value="@Model.Server">
                    <option>BR1</option>
                    <option>EUN1</option>
                    <option>EUW1</option>
                    <option>JP1</option>
                    <option>KR</option>
                    <option>LA1</option>
                    <option>LA2</option>
                    <OPTION>NA1</OPTION>
                    <OPTION>OC1</OPTION>
                    <option>RU</option>
                    <option>TR1</option>
                </select>
            </div>

            @*Input micro condition*@
            <div class="form-group form-check ">
                <input type="checkbox" class="form-check-input hasMicInput" id="exampleCheck1" asp-for="HasMic">
                <label class="form-check-label hasMicLabel" for="exampleCheck1">Do you play with mic?</label>
            </div>

            @*Input new Lane*@
            <div class="form-group">
                <label>Server</label>
                <select asp-for="Lane" class="custom-select" value="@Model.Lane">
                    <option>Top</option>
                    <option>Jungle</option>
                    <option>Mid</option>
                    <option>ADC</option>
                    <option>Support</option>
                </select>
            </div>

            @*Input description*@
            <div class="form-group">
                <label>Description: </label>
                <input type="text"  name="Note" class="form-control input-des" id="description" placeholder="Say something about yourself" asp-for="Note" value="@Model.Note">
            </div>

            @*Button Save change*@
            <div class="form-group">
                <button type="submit" class="btn btn-danger button">Save Change</button>
            </div>
        </form>
    </div>
</center>

