@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="~/css/BanUser.css" rel="stylesheet" />
<div class="col-10 main">

    <div class="backContainer">

        <form asp-method="post" asp-controller="AdminManagement" asp-action="Ban" id="Form">

            <h1 class="h2 mb-3 font-weight-bold text-center" style="font-family:sans-serif">Ban User</h1>

            <input type="hidden" name="userId" value="@ViewBag.userId">

            <div class="form-group px-4">
                <label class="my-label">Ban for</label>
                <input type="number" min="1" class="form-control" placeholder="Enter number of days" name="daysToBan">
            </div>

            <div class="form-group px-4 mb-4">
                <label class="my-label">Reason</label>
                <textarea cols="20" rows="3" class="form-control" name="reason"></textarea>
            </div>

            <button type="submit" class="btn btn-danger button ">Ban User</button>

        </form>

    </div>


</div>