<!--Temporary using shared layout-->
@{
    Layout = null;
}

@model Admin
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
</head>

<body>
    <!--Page container-->
    <div class="container vh-100">
        <!--The login form container-->
        <div class="row h-100 justify-content-center align-items-center">
            <!--The login form-->
            <div class="col-6 border py-4 px-4">
                <!--Heading-->
                <div class="text-center">
                    <h1>Admin</h1>
                </div>
                <!--THE ACTUAL FORM-->
                <form style="border: 1px;" class="align-items-center" asp-controller="Admin" asp-action="Login"
                    method="POST">
                    <div class="form-group row w-100">
                        <label class="col-3 col-form-label">Email</label>
                        <input asp-for="Email" asp-validation-for="Email" class="col-8">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group row w-100">
                        <label class="col-3 col-form-label">Password</label>
                        <input asp-for="AdminPassword" asp-validation-for="AdminPassword" class="col-8" type="password">
                        <span asp-validation-for="AdminPassword" class="text-danger"></span>
                    </div>

                    <button value="login" class="btn btn-primary">Login</button>
                    @if(ViewBag.loginFailed != null && ViewBag.loginFailed)
                    {
                        <span class="text-danger">Wrong email or password</span>
                    }
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>