@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Admin main page";
}
@* 
<!--TEST FOR BAN FUNCTION-->
<form asp-controller="AdminManagement" asp-action="Ban" method="post">
    <input type="number" value="1" name="userId" readonly>
    <input type="number" name="daysToBan">
    <input type="text" name="reason">

    <input type="Submit" value="Ban">
</form> *@


<!--Main content body-->
<div class="col-10">
    <div class="flex-container-space-between">
        <!--Statistics-->
        <div class="body-column">
            <div class="mat-card">
                <div class="dashboard-base-content">
                    <div class="mat-card-title-wrapper">
                        <h1 class="mat-card-title">
                            Visitors
                        </h1>
                    </div>

                    <div class="widget-asset-body-container">
                        <img src="~/img/Admin/statistic-temp.png" class="flex-shrink-img">
                    </div>
                </div>
            </div>
        </div>

        <!--Statistics-->
        <div class="body-column">
            <div class="mat-card">
                <div class="dashboard-base-content">
                    <div class="mat-card-title-wrapper">
                        <h1 class="mat-card-title">
                            New accounts
                        </h1>
                    </div>

                    <div class="widget-asset-body-container">
                        <img src="~/img/Admin/statistic-temp.png" class="flex-shrink-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>