@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Site Statistic";
}
<script type="text/javascript" src="~/js/Chart/chart.min.js"></script>

<div class="col-sm-6 col-md-8 col-lg-11 mx-auto">
        <div id="chartParent" class="h-75 bg-white">
            <canvas id="siteTraffic"></canvas>
        </div>
</div>

<!--Charting script-->
<script src="~/js/Chart/WebsiteStatisticChart.js"></script>
<script type="text/javascript">
    //Loads in the data from controller
    var uniqueVisitorData = @Html.Raw(ViewBag.UniqueVisitorData)
    var siteVisitData = @Html.Raw(ViewBag.SiteVisitData)
    var newAccountData = @Html.Raw(ViewBag.NewAccountData)

    //Get the chart parent and the chart container
    var chartParent = document.getElementById("chartParent")
    var siteTraffic = document.getElementById("siteTraffic")
    
    siteTraffic.height = chartParent.height

    //Create the chart on page load
    window.onload = createChart(siteTraffic, uniqueVisitorData, siteVisitData, newAccountData)

</script>