@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Site Statistic";
}
<script type="text/javascript" src="~/js/Chart/chart.min.js"></script>

<div class="col-sm-6 col-md-8 col-lg-11 mx-auto">
        <div id="chartParent" class="h-75 bg-white">
            <canvas id="siteTraffic"></canvas>
        </div>
</div>

<!--Charting script-->
<script type="text/javascript">
    var uniqueVisitorData = @Html.Raw(ViewBag.UniqueVisitorData)
    var siteVisitData = @Html.Raw(ViewBag.SiteVisitData)
    var newAccountData = @Html.Raw(ViewBag.NewAccountData)

    var chartParent = document.getElementById("chartParent")
    var siteTraffic = document.getElementById("siteTraffic")
    
    siteTraffic.height = chartParent.height

    var siteTrafficChart = new Chart(siteTraffic, {
        type: 'line',
        data: {
            datasets: [
            {
                label: 'Unique Visitor',
                data: uniqueVisitorData,
                borderColor: 'rgba(50,100,150)'
            },
            {
                label: 'Site Visit',
                data: siteVisitData,
                borderColor: 'rgba(100,50,50)'
            },
            {
                label: 'New Account',
                data: newAccountData,
                borderColor: 'rgba(150, 90, 150)'
            }
            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script>