<div class="modal-dialog">
    <!--Mọi thứ của modal(popup) sẽ nằm ở trong element có class "modal-content"-->
    <div class="modal-content">
        <!--Đây là cái cục header của modal(popup)-->
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalTitle"></h5>
            <button type="button" class="close" data-dismiss="modal">
                <!--%times; là character entity cho dấu "x" (hay còn gọi là cái cục đóng bên góc phải phía trên cùng ấy)-->
                <span>&times;</span>
            </button>
        </div>
        <!--Đây là phần body của modal-->
        <!--Đây sẽ là phần mình để những ngôi sao để cho người ta click vào-->
        <div class="modal-body">
            You need to login to use this feature
        </div>
        <!--Đây là phần footer của modal-->
        <div class="modal-footer">
            <button style="width: 5vw; font-size: 1.25vw;text-align: center; padding-left: 0; padding-right: 0" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a style="width: 5vw; font-size: 1.25vw;text-align: center; padding-left: 0; padding-right: 0" href="Account/RedirectLoginPage" type="button" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>
