<!DOCTYPE html>

<html>

<head>
    <title>Admin's Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/icons-1.5.0/font/bootstrap-icons.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/UserList.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $.noConflict();
            $('#example').DataTable({ responsive: true });
        });
    </script>
    <link rel="stylesheet" href="~/css/Admin.css" />
</head>

<body>

    <!--This is the header bar-->
    <div class="header">
        <div class="w-row d-flex justify-content-space-between">
            <div class="col-1 side-nav-bar" style="background-color:darkred">
                <div class="icon-container">
                    <div class="icon-wrapper">
                        <i class="bi-list text-white icon-content"></i>
                    </div>
                </div>

            </div>

            <!--This is the Title-->
            <div class="col-9">
                <div class="pt-1 pb-1">
                    <h1 class="title">DuoLegend</h1>
                </div>
            </div>

            <div class="col-2">
                <div class="h-100 d-flex justify-content-end align-items-center">

                    <div class="icon-container">
                        <div class="icon-wrapper">
                            <i class="bi-person text-white icon-content"></i>
                        </div>
                    </div>

                    <div class="icon-container">
                        <div class="icon-wrapper">
                            <a class="bi-power text-white icon-content" asp-action="Logout"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Side navigation bar-->
    <div class="w-row" style="height:92vh;">
        <div class="col-1 side-nav-bar" style="height:100%; background-color:#0c0b0b">
            <div class="icon-container">
                <div class="icon-wrapper mb-2">
                    <i class="bi-house-door text-white icon-content"></i>
                </div>
                <div class="icon-wrapper mb-2">
                    <i class="bi-bar-chart-line text-white icon-content"></i>
                </div>
                <div class="icon-wrapper mb-2">
                    <a class="bi-clipboard text-white icon-content" asp-action="UserList"></a>
                </div>
            </div>
        </div>

        <!--Main body content-->
        @RenderBody()

    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>