<!DOCTYPE html>

<html>

<head>
    <title>Admin's Main Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/icons-1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/Admin.css" />
</head>

<body>
    
    <!--This is the header bar-->
    <div class="header">
        <div class="w-row d-flex justify-content-space-between">
            <div class="col-1 side-nav-bar" style="background-color:darkred">
                <div class="icon-container">
                    <div class="icon-wrapper">
                        <i class="bi-list text-white icon-content"></i>
                    </div>
                </div>

            </div>

            <!--This is the Title-->
            <div class="col-9">
                <div class="pt-1 pb-1">
                    <h1 class="title">DuoLegend</h1>
                </div>
            </div>

            <div class="col-2">
                <div class="h-100 d-flex justify-content-end align-items-center">
                    <div class="icon-container">
                        <div class="icon-wrapper mr-2">
                            <i class="bi-bell text-white icon-content"></i>
                        </div>
                    </div>

                    <div class="icon-container">
                        <div class="icon-wrapper">
                            <i class="bi-person text-white icon-content"></i>>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--Side navigation bar-->
    <div class="w-row">
        <div class="col-1 side-nav-bar" style="height:100vh; background-color:#0c0b0b">
            <div class="icon-container">
                <div class="icon-wrapper mb-2">
                    <i class="bi-house-door text-white icon-content"></i>
                </div>
                <div class="icon-wrapper mb-2">
                    <i class="bi-bar-chart-line text-white icon-content"></i>
                </div>
                <div class="icon-wrapper mb-2">
                    <i class="bi-clipboard text-white icon-content"></i>
                </div>
            </div>
        </div>

        <!--Main body content-->
        @RenderBody()

    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>

</html>