<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" href="~/img/favicon.jpg">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.80.0">
    <title>Page</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/lib/icons-1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        .bg-dark {
            background-color: rgb(2,0,36) !important;
        }

        .navbar-brand {
            font-weight: bold;
        }

        .btn {
            margin-left: 2%;
            width: fit-content;
        }

        header {
            margin-bottom: 2 rem;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

            a:hover {
                text-decoration: none;
                color: inherit;
            }
    </style>
</head>
<body>
    <header>
        <!-- HEADER -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/">DuoLegend</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <span class="navbar-text">
                            Expect the Unexpected
                        </span>
                    </li>
                </ul>
                <a type="button" class="btn btn-danger " href="/Account/RedirectRegisterPage" >Register</a>
                <a type="button" class="btn btn-outline-danger" href="/Account/RedirectLoginPage" >Login</a>
            </div>
        </nav>
    </header>

    
        @RenderBody()
    
</body>
</html>
