.main-container {
    height: 88%;
    margin-top: -1rem;
}

.main-row {
    height: 100%;
}

.right-col {
    height: 100%;
}

.chat-online-row {
    height: 5%;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.user-status {
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
}

.msg-avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.list-contact {
    background-color: #242526;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.list-chat {
    overflow-x: hidden;
    height: 85%;
}

    .list-chat:hover {
        overflow-y: auto;
    }

.selected-user {
    background-color: #242526;
    padding: 7px 22px;
    border-bottom-style: solid;
    border-bottom-color: #393a3b;
    border-bottom-width: thin;
    height: 70px;
}

.content {
    background-color: #242526;
    overflow-y: auto;
    overflow-x: hidden;
    height: 83%;
    margin-bottom: 0px;
}

.input {
    width: 70vw;
}

body {
    height: 100vh;
    color: #e4e6eb;
    background-color: #242526;
}

.message {
    display: flex;
    align-items: center;
    padding-bottom: 1%;
}

.message__body {
    max-width: 50%;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #3e4042;
    margin-left: 1rem;
    word-wrap: break-word;
}

.message--self {
    flex-direction: row-reverse;
}

.message--self__body {
    background-color: #2979ff;
    color: #fff;
    margin-right: 1rem;
}

.person:hover {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 10px;
}

.chosen, .chosen:hover {
    background-color: rgba(56, 88, 152, 0.4);
    border-radius: 10px;
}

.contact-name {
    margin: 0px;
}

.user {
    margin: 4%;
}

.name {
    color: #E4E6EB;
    font-size: 25px;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.time {
    color: #B0B3B8;
    font-size: 15px;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.input-field {
    display: inline-block;
    background-color: #3a3b3c;
    border: none;
    border-radius: 50px;
}

.search-field {
    background-color: #3a3b3c;
    border-radius: 50px;
}

.search {
    height: 36px;
}

p {
    margin: 0px;
}

.send-button {
    background: none;
    border: none;
    padding: 0;
}

.send-icon {
    color: #0084ff;
    font-size: 2rem;
}

.left-area {
    border-right-style: solid;
    border-right-color: #393a3b;
    border-right-width: thin;
    height: 100%;
}

#loadOldMessage {
    margin: 0 auto;
    display: block;
    width: 11vw;
}

#updateOnlineList {
    height: 100%;
}

@media only screen and (max-width: 1562px) {
    .avatar {
        vertical-align: middle;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        object-fit: cover;
    }

    .person:hover {
        background-color: rgb(255 255 255 / 10%);
        border-radius: 10%;
    }

    .chosen, .chosen:hover {
        background-color: rgba(56, 88, 152, 0.4);
        border-radius: 10%;
    }

    .mr-4 {
        margin-right: 0px;
    }

    #updateOnlineList {
        height: 100%;
        width: 62%;
        font-size: 68%;
    }

    .my-chat {
        display: none;
    }

    .ml-5 {
        margin-left: 0.5em !important;
    }

    .send-icon {
        color: #0084ff;
        font-size: 1.5em;
    }

    .input-field {
        margin-right: 0.5em;
        display: inline-block;
        background-color: #3a3b3c;
        border: none;
        border-radius: 50px;
    }

    .justify-content-between {
        justify-content: center !important;
    }

    .chat-online-row {
        height: 10%;
        margin-bottom: 0.5em;
    }

    .search {
        height: auto;
    }

    .m-4 {
        margin: 0.5rem !important;
    }

    .list-chat {
        overflow-x: hidden;
        height: 84%;
    }

    .name {
        color: #E4E6EB;
        font-size: 1em;
        font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
    }

    #loadOldMessage {
        margin: 0 auto;
        display: block;
        width: 45vw;
        font-size: 15px;
        margin-bottom: 3%;
    }

    .time{
        display: none;
    }
}
