body {
    background-image: url("../img/test.jpg");
}

.backContainer {
    font-family: 'Friz Quadrata';
    margin-top: 19%;
    background-color: rgba(19,28,46,.9333333333333333);
    width: 37vw;
    border-radius: 5%;
    height: 38vh;
}

h3{
    color: white;
}