/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
* {
	box-sizing: border-box;
}

main > .container {
	padding: 60px 15px 0;
}

p {
	color: white;
}

h3, h1 {
	color: white;
	font-weight: normal;
}

code {
	font-size: 80%;
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

	.form-signin .form-control {
		/*position: relative;*/
		display:inline-block;
		box-sizing: border-box;
		height: auto;
		padding: 10px;
		font-size: 16px;
	}

		.form-signin .form-control:focus {
			z-index: 2;
		}

	.form-signin input[type="email"] {
		margin-bottom: -1px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.form-signin input[type="password"] {
		/*margin-bottom: 10px;*/
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}
/*input{
  width: 100%;
}*/
.form-check-input {
	font-size: 500px;
}

body {
	/*background-color: rgb(37, 43, 54);*/
	background-image: url("../img/test.jpg");

}

.container {
	font-family: 'Friz Quadrata';
	margin-top: 10%;
	background-color: rgba(19,28,46,.9333333333333333);
	width: 40vw;
	border-radius: 5%;
}

.button {
	width: 100%;
	height: 7vh;
	background: linear-gradient(178deg,#dd364d,#621620);
	border: none;
	font-size: 25px;
	margin-left: 0;
}

i {
	padding-right: 15px;
}
