/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

p{
	color: white;
}
h3, h1 {
	color: white;
	font-weight: normal;
	line-height: 2;
}
code {
  font-size: 80%;
}
input{
  width: 100%;
  color:black;
}
body {
	background-image: url("../img/test.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.backContainer{
  margin-top: 5%;
  background-color: rgba(19,28,46,.9333333333333333);
  width: 50%;
  height: 150%;
  border-radius: 5%;

}
.button {
	width: 50%;
	background: linear-gradient( 178deg,#dd364d,#621620);
	letter-spacing: .2rem;
	border: none;
	height: 5rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
}
.hasMicLabel{
  display: inline-block;
}
.hasMicInput{
  width: auto;
}
.input-des {
	height: 5rem;
	font-size: 1.3rem;
}
.custom-select {
color :black;
}