<!DOCTYPE html>

<html>

<head>
    <title>Admin's Main Page</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <link rel="stylesheet" href="css/admin.css" />
    <div class="header">
        <div class="w-row d-flex justify-content-space-between">
            <div class="col-1 side-nav-bar" style="background-color:darkred">
                <div class="icon-container">
                    <div class="icon-wrapper">
                        <img src="img/burger-menu.png" class="icon-content">
                    </div>
                </div>

            </div>

            <div class="col-9">
                <div class="pt-1 pb-1">
                    <h1 class="title">DuoLegend</h1>
                </div>
            </div>

            <div class="col-2">
                <div class="h-100 d-flex justify-content-end align-items-center">
                    <div class="icon-container">
                        <div class="icon-wrapper mr-2">
                            <img src="img/notif-bell.png" class="icon-content">
                        </div>
                    </div>

                    <div class="icon-container">
                        <div class="icon-wrapper">
                            <img src="img/person-icon.png" class="icon-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-row">
        <div class="col-1 side-nav-bar" style="height:100vh; background-color:#0c0b0b">
            <div class="icon-container">
                <div class="icon-wrapper mb-2">
                    <img src="img/home-icon.png" class="icon-content">
                </div>
                <div class="icon-wrapper mb-2">
                    <img src="img/histogram-icon.png" class="icon-content">
                </div>
                <div class="icon-wrapper mb-2">
                    <img src="img/report-icon.png" class="icon-content">
                </div>
            </div>
        </div>

        <div class="col-11">
            <div class="flex-container-space-between">
                <div class="body-column">
                    <div class="mat-card">
                        <div class="dashboard-base-content">
                            <div class="mat-card-title-wrapper">
                                <h1 class="mat-card-title">
                                    Visitors
                                </h1>
                            </div>

                            <div class="widget-asset-body-container">
                                <img src="img/statistic-temp.png" class="flex-shrink-img">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="body-column">
                    <div class="mat-card">
                        <div class="dashboard-base-content">
                            <div class="mat-card-title-wrapper">
                                <h1 class="mat-card-title">
                                    New accounts
                                </h1>
                            </div>

                            <div class="widget-asset-body-container">
                                <img src="img/statistic-temp.png" class="flex-shrink-img">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>