@model practice.ViewModels.checkViewModel


<html>
<head>
    <title>test</title>
</head>
<body>
    @if (Model.level != null) {
    <h1>Summoner level @Model.level</h1>
    }
           


</body>
</html>

