
@model practice.Models.inputData


<form method="post" asp-action="Checkout" asp-controller="Home">
    In-game name: <input type="text" name="ingameName" asp-for="ingameName" role="form" /></br>
    <input type="submit" />
</form>
