@{
    ViewData["Title"] = "BANNED";
}
<center>
    <div class="border border-dark col-5">
        <h1>You have been banished to the shadow realm until <br/>@ViewBag.expirationDate</h1>
    </div>
</center>