@{
    ViewData["Title"] = "Not found";
}

<link href="~/css/notFound.css" rel="stylesheet">

<div class="row no-gutters">
    <div class="col">
        <div class="left-side">
            <h1>404 Error</h1>
            <hr class="style-four">
            <br>
            <h3>Oops! Page not found</h3>
        </div>
    </div>
    <div class="col">
        <div class="right-side">
            <img src="~/img/amumu2.png" alt="Sad amumu">
        </div>
    </div>
</div>