/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

p{
	color: white;
}
h3,h1{
	color: white;
  font-weight: normal;
}
code {
  font-size: 80%;
}


body{

  background-image: url("#");
}
/*cái này là cái ô vuông */
.backContainer{
  margin-top: 10%;
  background-color: rgba(19,28,46,.9333333333333333);
  width: 50%;
  height: 150%;
  border-radius: 5%;
  border: 
}
